@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani:wght@300&display=swap');


.homeCard {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
}


.homeCard > .home-text-con {
    display: flex;
    align-items: left;
    margin: 0 auto;
    height: fit-content;
}
    

.home-text-con {
    display: flex;
    flex-direction: column;
}

.home-text-con > h1 {
    display: flex;
    font-size: 9vw;
}

.home-text-con > h3 {
    font-size: 2vw;
    letter-spacing: 5px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.gordon {
    margin: 0 auto;
}

.vertical-line-home {
    opacity: .85;
    height: 100vh;
    z-index: 1;
    border: 1px solid black;
    filter: blur(1px);
}


.headshot {
    height: auto;
    filter: grayscale(1);
    border-radius: 500px;
    padding: 10px;
}

.image-bio-con {
    width: 15%;
    display: flex;
    flex-direction: column;
}


.image-con {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.tag-text-con {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-con {
    filter: grayscale(1);
    opacity: .85;
}

.icons {
    margin: 0px 1vw;
    font-size: 3vw;
    opacity: .65;
}

.landing-button-con {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
}

.landing-area {
    margin: 0 auto;
    width: 100%;
}

.landing-area.dark {
    background-color: #010101;
    color: white;
}

.gen-button-con {
    width: fit-content;
    background-color: #010101;
    border: 1px solid black;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0px 5px 6px 1px #999999;
}

.gen-button-con.dark {
    width: fit-content;
    background-color: blue;
    border: 1px solid black;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0px 5px 6px 1px white;
}

span {
    color: white;
}

.retro {
    background-color: blue;
}

.stars {
    background: cadetblue;
}

.gradient {
    background-color: chocolate;
}

