@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani:wght@300&display=swap');


.homeCard {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    height: 100vh;
}

.home-text-con {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.home-text-con > h1 {
    font-size: 12vw;
}

.home-text-con > h3 {
    font-size: 2vw;
    letter-spacing: 5px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.gordon {
    z-index: 2;
    white-space: nowrap;
    display: inline-block;
}


.headshot {
    max-width: 100%;
    filter: grayscale(1);
    border-radius: 500px;
    z-index: 1;
    position: relative;
    top: 2em;
    right: 4em;
}

.image-con {
    display: inline-block;
    height: 100%;
    width: auto;
    z-index: 1;
}



/* .image-bio-con {
    width: 15%;
    display: flex;
    flex-direction: column;
} */


/* .tag-text-con {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .link-con {
    filter: grayscale(1);
    opacity: .85;
} */

/* .icons {
    margin: 0px 1vw;
    font-size: 3vw;
    opacity: .65;
} */

.landing-text-image-con {
    padding: 50px;
    display: flex;
}

.landing-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-con {
    margin: auto 0;
    z-index: 3;
}